:root {
  --blue : #274066;
  --yellow : #FFE300;
  --red : #D01B34;
  --skyblue : #F5FBFF;
  --lightgreen :#00B67A;
  --gray :#4D4D4D;
  --white : #FFFFFF;
  --black : #000000;
}
*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.blue {
  color: var(--blue);
}
.bg-blue {
  background-color: var(--blue);
}
.yellow {
  color: var(--yellow);
}
.bg-yellow {
  background-color: var(--yellow);
}
.red {
  color: var(--red);
}
.bg-red {
  background-color: var(--red);
}
.skyblue {
  color: var(--skyblue);
}
.bg-skyblue {
  background-color: var(--skyblue);
}
.lightgreen {
  color: var(--lightgreen);
}
.bg-lightgreen {
  background-color: var(--lightgreen);
}
.gray {
  color: var(--gray);
}
.bg-gray {
  background-color: var(--gray);
}
.white {
  color: var(--white);
}
.bg-white {
  background-color: var(--white);
}
.black {
  color: var(--black);
}
.bg-black {
  background-color: var(--black);
}
body {
  color: var(--blue);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 1.125rem;
  line-height: 1.4;
  margin: 0;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.container {
  max-width: 100%;
  padding-right: calc(3rem * 0.5);
  padding-left: calc(3rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-0.5 * 1.5rem);
  margin-left: calc(-0.5 * 1.5rem);
}
.container .row .col {
  flex: 0 0 auto;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
}

@media (min-width: 517px) {
  .container {
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
