body {
  color: #274066;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.125rem;
  line-height: 1.4;
  margin: 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  padding-right: calc(3rem * .5);
  padding-left: calc(3rem * .5);
  margin-right: auto;
  margin-left: auto;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-.5 * 1.5rem);
  margin-left: calc(-.5 * 1.5rem);
}
.container .row .col {
  flex: 0 0 auto;
  padding-right: calc(1.5rem * .5);
  padding-left: calc(1.5rem * .5);
}

@media (min-width: 517px) {
  .container {
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}